# Build output
dist/
*.tsbuildinfo
.aws-sam/
bin/

# Logs
*.log
npm-debug.log*

# Dependencies
node_modules/

# Test coverage
coverage/
*.lcov

# Environment variables
.env
.env.*

# IDE
.vscode/
.idea/

# Misc
.DS_Store
